<div class="dropdown dropdown-end">
    <div
        tabindex="0"
        role="button"
        class="btn btn-ghost btn-circle avatar"
    >
        <div class="w-10 rounded-full">
            <img
                alt="Tailwind CSS Navbar component"
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            />
        </div>
    </div>
    <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-neutral rounded-box z-[1] mt-3 w-52 p-2 shadow text-gray-300"
    >
        <li>
            <a href="/profile" data-astro-prefetch>
                Profile
            </a>
        </li>
        <li><a href="/settings">Settings</a></li>
        <li><a aria-disabled="true">Logout</a></li>
    </ul>
</div>