---
export const prerender = false;
import { Button } from "@/components/ui/button";
import SimpleToast from "@/react-components/composables/SimpleToast";
import ProductDetail from "@/vue-components/products/ProductDetail.vue";
import MainLayout from "src/layouts/MainLayout.astro";
const {id} = Astro.params;
console.log(id)
---

<MainLayout>
  <div class="2xl:min-h-[81vh] xl:min-h-[77vh]">
    <ProductDetail client:load>
        <SimpleToast text="Produk berhasil ditambahkan!" client:idle>
            <Button variant={'primary'} className="w-full">Add to cart</Button>
        </SimpleToast>
    </ProductDetail>
  </div>
</MainLayout>