---
export const prerender = false;
import { Button } from "@/components/ui/button";
import SimpleToast from "@/react-components/composables/SimpleToast";
import ProductDetail from "@/vue-components/products/ProductDetail.vue";
import { actions } from "astro:actions";
import MainLayout from "src/layouts/MainLayout.astro";
import type { ProductType } from "src/models/productType";
const {id} = Astro.params;
const {data} = await Astro.callAction(actions.product.getProductDetail, {id_product: id!});
const product : ProductType = Object.assign(data!)
---

<MainLayout>
  <div class="2xl:min-h-[81vh] xl:min-h-[77vh]">
    <ProductDetail product={product} client:idle>
        <SimpleToast text="Produk berhasil ditambahkan!" client:idle>
          {
            product.stock > 0 ?
            <Button variant={'primary'} className="w-full">Add to cart</Button>
            :
            <Button variant={'default'} className="w-full btn-disabled">Sold Out</Button>
          }
        </SimpleToast>
    </ProductDetail>
  </div>
</MainLayout>