---

---
  <!-- Hero Section -->
  <section class="bg-base-200 text-base py-20 shadow-md">
    <div class="container mx-auto text-center">
      <h1 class="2xl:text-5xl xl:text-4xl text-xl font-bold mb-4">Welcome to F-Shop</h1>
      <p class="text-xl mb-8">
        Discover the latest trends in fashion, electronics, and more.
      </p>
      <a
        href="/products"
        class="bg-primary text-white py-3 px-6 rounded-full font-semibold hover:bg-primary/70"
        data-astro-prefetch="tap"
        >Shop Now</a
      >
    </div>
  </section>