---
import ProductCard from "@/react-components/composables/ProductCard";
import MainLayout from "../layouts/MainLayout.astro";
import HomeLanding from "@/astro-components/home-astro/HomeLanding.astro";
const cardData = await fetch('http://localhost:4321/api/getProducts.json').then(item=>item.json()).then(data => data.data);
// const cardData = null;
---

<meta
  property="og:title"
  content="Premium stuff shop"
/>
<meta
  property="og:type"
  content="website"
/>
<meta
  property="og:description"
  content="Welcome to F-shop, where we have everything that you need."
/>
<meta
  property="og:image"
  content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"
/>

<meta
  property="og:image:alt"
  content="F-shop Image"
/>
<title>F-Shop - Home</title>

<MainLayout>
  <HomeLanding />
  <!-- Product Grid -->
  <section class="container mx-auto px-6 py-12 2xl:min-h-[48vh] xl:min-h-[36vh]">
    <h2 class="text-3xl font-bold text-center mb-8">Featured Products</h2>
    {
      cardData ?
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      <!-- Product Card -->
      {
        (Array.from({length: 4})).map((item : any)=>(
        <ProductCard data={cardData[0]} />
        <p class="hidden">{item}</p>
        ))
      }
    </div>
      : 
      <p class="text-center">Tidak ada produk yang tersedia.</p>
    }

  </section>
</MainLayout>
