---
import 'src/assets/css/global.css';
import MainLayout from '../layouts/MainLayout.astro';
import ThemeController from '@/react-components/composables/ThemeController';

---

<MainLayout>
	<ThemeController client:load />
	<div class="h-30 w-screen grid grid-cols-4 p-10 place-items-center">
	</div>
</MainLayout>
