---
import LoginForm from "@/vue-components/forms/LoginForm.vue";
import MainLayout from "src/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex items-center justify-center min-h-[75vh]">
    <LoginForm client:load />
  </div>
</MainLayout>
